# The directory Mix will write compiled artifacts to.
/_build/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Temporary files, for example, from tests.
/tmp/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# Ignore package tarball (built via "mix hex.build").
simz5-*.tar

# Ignore assets that are produced by build tools.
/priv/static/assets/

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log
/assets/node_modules/

# Ignore digested assets cache.
/priv/static/cache_manifest.json

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
phoenix-*.ez

# Ignore erlang history
/.erlang-history

# Ignore nix related files
.direnv
.nix-*
